/* .search_again {
  display: none;
} */

.search_mobile {
  background-color: #f3f3f3;
  padding: 20px 0px;
}

.search_mobile_wrapper {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
}

.flight_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flight_card_left > p {
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
}

.flight_card_left_cnt {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 5px;
}

.fcl_date,
.fcl_pax {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.fcl_date_text p,
.fcl_pax_number p {
  font-size: 14px;
  color: #1e1e1e;
}

.fcl_date_icon img {
  display: block;
  width: 15px;
  position: relative;
  margin-top: -2px;
}

.fcl_pax_icon img {
  display: block;
  width: 10px;
  position: relative;
  margin-top: -2px;
}

.ms_popup_tab_header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #111;
}

.ms_poptab_item.active {
  color: red;
}

.ms_popcnt_tab {
  display: none;
}

.ms_popcnt_tab.active {
  display: block;
}
